@font-face {
    font-family: Work Sans;
    src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: Work Sans Italic;
    src: url(./assets/fonts/WorkSans-Italic-VariableFont_wght.ttf);
}
*{
    font-family: "Work Sans";
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --white: hsl(0, 100%, 100%);
    --purple-100: hsl(275, 100%, 97%);
    --purple-600: hsl(292, 16%, 49%);
    --purple-950: hsl(292, 42%, 14%);
}
.question-section:not(:first-child) p.answer {
    display: none;
    grid-area: 0;
}
body {
    background: var(--purple-100) url(assets/images/background-pattern-mobile.svg) no-repeat top; 
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
header {
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    background-color: var(--white);
    max-width: clamp(20rem, 89vw, 22rem);
    padding: 1.50rem 1.75rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

header > img {
    height: 1.5rem;
    width: 1.5rem;
}
.questions {
    display: flex;
    flex-direction: column;
    gap: 0.75rem
}
.question-section {
    display: grid;
    grid-template: auto auto / 1fr 30px;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.answer {
    grid-column: span 2;
    font-size: .875rem;
    color: var(--purple-600);
    margin-bottom: 2rem;
}
.question-section:last-of-type {
    margin-bottom: -1.5rem;
}
.question {
    font-weight: 500;
}